@import url(https://fonts.googleapis.com/css?family=Lobster);

.container {
  text-align: center;
  font-family: 'Lobster',serif;
  font-size: 20px;
}

.jumbotron {
  background-color: lightgray;
  font-size: 80px;
  font-family: 'Lobster',serif;
  margin-bottom: -20px;
  margin-top: -30px;
  margin-left: 20px;
  margin-right: 20px;
}

.row
  {
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;
  }
  #t5{
    text-align: right;
  }
#t7{
  text-align: left;
}

#t8{
  padding-left: 300px;
}

#t9{
  padding-right: 300px;
}

.carousel-image {
  width: 100%;
  max-height: 380px;
}

.btn {
  font-size: 20px;
    border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}
